*{
    margin: 0;
    padding: 0;
}

.menu{

    background-image: url('../img/mesa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    display: flex;
    text-align: center;
    height: 517px;
}

.cabeçalho{
    text-align: center;
    padding: 16px;
    max-width: 1200px;
    margin: 0% auto;
    list-style: none;
    display: flex;
    gap: 36px;
}


.menu_link{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
}


.info{
    margin: auto;

}
h1 {
    background-color: #ffd200;
    padding: 45px;
    display: flex; }